* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    font: 16px/28px arial, sans-serif;
    color: #333;
}

.container {
    background-color: white;
    margin: auto;
    width: 800px;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    border-left: 20px solid salmon;
}

.header .judul {
    font-size: 25px;
    font-weight: bold;

}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightblue;
    color: white;
}

.hero {
    height: 280px;
    background-image: url(gambar/bruno-cervera-sQ6t5v95npU-unsplash.jpg);
    background-size: cover;
    background-position: 100%;
    border-top: 6px solid darkgray;
    border-bottom: 3px solid darkgray;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 10px;
    margin-top: -5px;
}

.content p {
    margin-bottom: 20px;
    font-size: 15px;
}